<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} - {{ shop.name | escape}}</title>
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    
    {% section 'header' %}

    <main>
      {{ content_for_layout }}
      {% comment %} {% if template == 'index' %}
        {% section 'banner-product' %}
      {% endif %} {% endcomment %}
    </main>
    

    {% section 'footer' %} 
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  </body>
</html>