{%- liquid
  assign product = section.settings.product
  assign color_variants = product.variants | map: 'option1' | uniq
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign featured_image_alt = product.featured_image.alt | default: product.title

-%}
{% comment %} Check a product and use placeholder if product == null
    assign placeholder = true
  endif {% endcomment %}

{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-banner-product.css' | asset_url | stylesheet_tag }}


{% capture price %}
  <div class="price-container">
    {%- if compare_at_price > price -%}
      <span class="price price--compare {% unless available %}price--muted{% endunless %}">{{ compare_at_price | money_with_currency }}</span>
    {%- endif -%}
     <span class="price {% unless available %}price--muted{% endunless %}" data-target="{{ target.id }}">{{ price | money_with_currency }}</span>
     {%- if available == false -%}
      <span class="badge badge--soldout">Sold out</span>
    {%- elsif compare_at_price > price -%}
      <span class="badge badge--sale">Sale</span>
    {%- endif -%}
  </div>            
{% endcapture %}

    <section class="section__product-banner">
      <div class="page-width">
        <div class="product-card">
          <div class="product-images">
            <div class="main-image">
              <div class="badge">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 13.0721L7.11574 14.6666L7.66671 11.2895L5.33337 8.89805L8.55789 8.40571L10 5.33325L11.4422 8.40571L14.6667 8.89805L12.3334 11.2895L12.8843 14.6666L10 13.0721Z" fill="#111111" stroke="#111111" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <span class="badge-text">highly rated</span>
              </div>            
              {% if product.featured_image %}
                {{ product.featured_image | image_url: width: 536 | image_tag: alt: featured_image_alt }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
              {% endif %}
              
            </div>
            <div class="product-gallery" data-color="white"></div>
          </div>
          <div class="product-info">
            <div>
              <h2 class="product-title">{{ product.title }}</h2>
              {{ price }}
              <div class="product__quantity">
                {%- unless product.selected_or_first_available_variant.inventory_quantity == 0 or product.selected_or_first_available_variant.available == false -%}
                  <span class="text-secondary text-medium">In stock:</span>
                <span class="product--inventory_quantity">{{ product.selected_or_first_available_variant.inventory_quantity }}</span>
                {%- else -%}
                  <span class="text--alert text-medium">Out of stock</span>
                {%- endunless -%}
                
              </div>
            </div>
            {% if product.variants.size > 1 %} 
              <div class="product-variants">              
                 {% for option in product.options_with_values %}
                  {% assign keys = "option1,option2,option3" | split: "," %}
                  {% assign option_index = forloop.index0 %} 
                  {% assign option_key = keys[option_index] %}
  
                  {% case option.name %}
                    {%- when "Color" -%}
                      <p>Select {{option.name | downcase}}:</p>
                      <div class=" option option--color">
                        {%- for value in option.values limit: 3 -%}
                          {% assign variant = product.variants | where: option_key, value | first %}
                          {% assign variant_quantity = variant.inventory_quantity | default: variant.available %}                          
                          <button class="color-button" data-variant-id="{{ variant.id }}" data-color="{{ value | downcase }}" data-available="{{ variant_quantity }}">
                            {% if variant.image %}            
                            {{ variant.image | image_url: width: 512, height: 512 | image_tag: width: 88, height: 88, alt: variant.image.alt }}
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
                            {% endif %}                            
                            </button>
                        {%- endfor -%}
                      </div>
                    {%- when "Size" -%}
                      <p>Select {{option.name | downcase}}:</p>
                      <div class="option option--size">
                        {%- for value in option.values -%}
                          <button class="size-button">{{ value }}</button>
                        {%- endfor -%}
                      </div>
                    
                    {%- else -%}
                      <p>Select {{option.name | downcase}}:</p>
                      <div class="option option--generic">
                        {%- for value in option.values -%}
                          <button class="generic-button">{{ value }}</button>
                        {%- endfor -%}
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            {% endif %}
            {% comment %} <div class="size-options">
              <p>Select size:</p>
              <div class="grid">
                <button class="size-button" data-size="UK 5.5">UK 5.5</button>
                <button class="size-button" data-size="UK 6(EU 39)">UK 6(EU 39)</button>
                <button class="size-button" data-size="UK 6 (EU 40)">UK 6 (EU 40)</button>
                <button class="size-button" data-size="UK 6.5">UK 6.5</button>
                <button class="size-button" data-size="UK 7">UK 7</button>
                <button class="size-button" data-size="UK 7.5">UK 7.5</button>
              </div>
            </div> {% endcomment %}
            <button class="button button--full-width button--primary add-to-cart">Add to Cart</button>
            {% if product.description != blank %}
              <p class="product-description text-secondary text-medium">{{ product.description }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

{% schema %}
{
  "name": "Banner with product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    },
    
  ],
  "presets": [
    {
      "name": "Banner with product"
    }
  ]
}
{% endschema %}