{%- liquid
  assign product = section.settings.product | default: product
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign featured_image_alt = product.featured_image.alt | default: product.title
-%}
{% comment %}
  TO-DO:Check a product and use placeholder if product == null
  assign placeholder = true
{% endcomment %}

{% comment %}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'section-banner-product.css' | asset_url | stylesheet_tag }}
{% endcomment %}

<script src="{{ 'banner-product.js' | asset_url }}" defer="defer"></script>

{% capture price %}
  <div class="tw:flex tw:items-center tw:gap-3 tw:py-2 tw:text-base tw:text-gray" data-price-container>
    {%- if compare_at_price > price -%}
      <span class="tw:line-through tw:font-light {% unless available %}tw:opacity-60{% endunless %}">{{ compare_at_price | money_without_trailing_zeros }}</span>
    {%- endif -%}
     <span class="tw:font-medium {% unless available %}tw:opacity-60{% endunless %}" data-target="{{ target.id }}">{{ price |  money_with_currency }}</span>
     {%- if available == false -%}
      <span class="tw-badge tw:bg-gray">{{ 'products.product.sold_out' | t }}</span>
    {%- elsif compare_at_price > price -%}
      <span class="tw-badge tw:bg-red-500">{{ 'products.product.on_sale' | t }}</span>
    {%- endif -%}
  </div>            
{% endcapture %}

<section
  class="section__product-banner tw:pt-11 tw:pb-9"
  data-selected-variant-id="{{ target.id }}"
  data-product-handle="{{ product.handle }}"
>
  <div class="page-width">
    <div class="tw:flex tw:flex-col tw:md:flex-row tw:gap-10">
      <div
        class="tw:flex tw:flex-col xl:flex-row-reverse tw:gap-6 tw:shrink-0 md:flex-1"
        data-product-images
      >
        <div class="tw:relative" data-main-image>
          <div class="tw:absolute tw:top-4 tw:left-4 tw:flex tw:items-center tw:gap-2 tw:bg-white tw:bg-opacity-90 tw:p-2 tw:rounded-sm tw:shadow-md">
            {{ 'star-icon.svg' | inline_asset_content }}
            <span class="tw:text-sm tw:capitalize">highly rated</span>
          </div>
          {%- comment -%} Display variant image if it exists, otherwise display product featured image, otherwise display placeholder image {%- endcomment -%}
          {% assign variant_image = target.image %}
          {% assign main_image_classes = 'tw:aspect-square tw:object-cover tw:rounded-lg' %}
          {% if variant_image %}
            {{ variant_image | image_url: width: 536 | image_tag: alt: featured_image_alt, class: main_image_classes }}
          {% elsif product.featured_image %}
            {{
              product.featured_image
              | image_url: width: 536
              | image_tag: alt: featured_image_alt, class: main_image_classes
            }}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
          {% endif %}
        </div>
        <div class="tw:flex tw:gap-4 tw:xl:flex-col">
          {% comment %}
            Display images that match the selected color option
            If no images match, display the first image
          {% endcomment %}
          {% assign selected_color = target.options[0] | downcase %}
          {% assign found_image = false %}
          {% for image in product.images %}
            {% assign image_url = image | image_url: width: 536 | downcase %}
            {% if image_url contains selected_color %}
              <div class="tw:relative tw:overflow-hidden tw:rounded-lg" data-gallery-item>
                {% comment %} {{ image | image_url: width: 536 | image_tag: width: 88, height: 88, alt: image.alt }} {% endcomment %}
                <img
                  src="{{ image | image_url: width: 88, height: 88 }}"
                  alt="{{ image.alt  | default: product.title | escape }}"
                  width="88"
                  height="88"
                  data-gallery-thumb
                  data-large="{{ image | image_url: width: 536 }}"
                  data-srcset="
                    {{ image | image_url: width: 200 }} 200w,
                    {{ image | image_url: width: 400 }} 400w,
                    {{ image | image_url: width: 800 }} 800w,
                    {{ image | image_url: width: 1200 }} 1200w
                  "
                  data-sizes="(max-width: 600px) 100vw, 536px"
                >
                {% assign found_image = true %}
              </div>
            {% endif %}
          {% endfor %}
          {% if found_image == false and product.images.size > 0 %}
            <div class="tw:relative tw:overflow-hidden tw:rounded-lg" data-gallery-item>
              <img
                src="{{ product.images[0] | image_url: width: 88, height: 88 }}"
                alt="{{ product.images[0].alt  | default: product.title | escape }}"
                width="88"
                height="88"
                data-gallery-thumb
                data-large="{{ product.images[0] | image_url: width: 536 }}"
                data-srcset="
                  {{ product.images[0] | image_url: width: 200 }} 200w,
                  {{ product.images[0] | image_url: width: 400 }} 400w,
                  {{ product.images[0] | image_url: width: 800 }} 800w,
                  {{ product.images[0] | image_url: width: 1200 }} 1200w
                "
                data-sizes="(max-width: 600px) 100vw, 536px"
              >
            </div>
          {% endif %}
        </div>
      </div>
      <div class="tw:md:flex-1">
        <div>
          {% if product.title != blank %}
            <h2 class="tw:text-2xl! tw:md:text-3xl tw:font-normal!">{{ product.title | escape }}</h2>
          {% endif %}
          {% if price != blank %}
            {{ price }}
          {% endif %}
          <div data-inventory-quantity>
            {{ product.available }}
            {%- unless target.available == false -%}
              {% if target.inventory_management == 'shopify' and target.inventory_policy != 'continue' %}
                <span class="tw:font-semibold">
                  {{ 'products.product.inventory_in_stock_show_count' | t: quantity: target.inventory_quantity }}
                </span>
              {%- else -%}
                <span class="tw:font-semibold">
                  {{ 'products.product.inventory_in_stock' | t }}
                </span>
              {%- endif -%}
            {%- else -%}
              <span class="tw:text-red-300">{{ 'products.product.inventory_out_of_stock' | t }}</span>
            {%- endunless -%}
          </div>
        </div>
        {% if product.variants.size > 1 %}
          <div class="tw:my-6">
            {% for option in product.options_with_values %}
              {% assign option_name = option.name | downcase %}

              {% case option_name %}
                {%- when 'color', 'colour' -%}
                  <p class="tw:text-sm tw:mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  <div
                    class="tw-options-list tw:flex tw:align-center"
                  >
                    {%- for value in option.values limit: 3 -%}
                      {% assign variant = value.variant %}
                      <input
                        type="radio"
                        id="option-{{ option.position }}-{{ forloop.index }}"
                        name="option-{{ option.position }}"
                        value="{{ value | downcase }}"
                        class="tw:sr-only"
                        data-color-input
                        data-variant-id="{{ variant.id }}"
                      >
                      <label
                        for="option-{{ option.position }}-{{ forloop.index }}"
                        class="tw-option-label tw-color-swatch {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                      >
                        {% if variant.image %}
                          {{
                            variant.image
                            | image_url: width: 512, height: 512
                            | image_tag:
                              width: 88,
                              height: 88,
                              alt: variant.image.alt,
                              class: 'tw:rounded-md tw:object-cover'
                          }}
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'tw:rounded-md tw:w-22 tw:h-22' }}
                        {% endif %}
                      </label>
                    {%- endfor -%}
                  </div>
                {%- when 'size' -%}
                  <p class="tw:text-sm tw:mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  <div class="tw-options-list tw:grid tw:grid-cols-2 tw:md:grid-cols-3">
                    {%- for value in option.values -%}
                      <input
                        type="radio"
                        id="option-{{ option.position }}-{{ forloop.index }}"
                        name="option-{{ option.position }}"
                        value="{{ value | downcase }}"
                        class="tw:sr-only"
                        data-size-input
                        data-variant-id="{{ variant.id }}"
                      >
                      <label
                        for="option-{{ option.position }}-{{ forloop.index }}"
                        class="tw-option-label tw-size-label {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                      >
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </div>
                {%- else -%}
                  <p class="tw:text-sm tw:mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  {% capture data_option_input %}
                    data-{{ option_name | downcase }}-input
                  {% endcapture %}
                  <div class="tw-options-list tw:grid tw:grid-cols-2 tw:md:grid-cols-3">
                    {%- for value in option.values -%}
                      <input
                        type="radio"
                        id="option-{{ option.position }}-{{ forloop.index }}"
                        name="option-{{ option.position }}"
                        value="{{ value | downcase }}"
                        class="tw:sr-only"
                        {{ data_option_input | strip }}
                        data-variant-id="{{ variant.id }}"
                      >
                      <label
                        for="option-{{ option.position }}-{{ forloop.index }}"
                        class="tw-option-label tw-generic-button {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                      >
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
        {% comment %} TO-DO: Implement product form {% endcomment %}
        <button class="tw:btn tw:border-black tw:bg-black tw:text-white" data-add-to-cart>
          {{ 'products.product.add_to_cart' | t }}
        </button>
        {% if product.description != blank %}
          <div class="tw:mt-6 tw:text-gray tw:text-sm">{{ product.description }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner with product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    }
  ],
  "presets": [
    {
      "name": "Banner with product"
    }
  ]
}
{% endschema %}
