{%- liquid
  unless template.name contains 'product'
    assign product = all_products[section.settings.product]
  endunless
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign featured_image_alt = product.featured_image.alt | default: product.title
-%}

<script src="{{ 'banner-product.js' | asset_url }}" defer="defer"></script>

{% capture price %}
  <div class="tw:flex tw:items-center tw:gap-3 tw:py-2 tw:text-base tw:text-gray" data-price-container>
    {%- if compare_at_price > price -%}
      <span class="tw:sr-only">{{ 'products.product.price.regular_price' | t }}</span>
      <span class="tw:line-through tw:font-light {% unless available %}tw:opacity-60{% endunless %}">{{ compare_at_price | money_without_trailing_zeros }}</span>
    {%- endif -%}
    <span class="tw:sr-only">{{ 'products.product.price.sale_price' | t }}</span>
     <span class="tw:font-medium {% unless available %}tw:opacity-60{% endunless %}" data-target="{{ target.id }}">{{ price |  money_with_currency }}</span>
     {%- if available == false -%}
      <span class="tw-badge tw:bg-gray">{{ 'products.product.sold_out' | t }}</span>
    {%- elsif compare_at_price > price -%}
      <span class="tw-badge tw:bg-red-600">{{ 'products.product.on_sale' | t }}</span>
    {%- endif -%}
  </div>            
{% endcapture %}

<section
  class="section__product-banner tw:pt-11 tw:pb-9"
  data-selected-variant-id="{{ target.id }}"
  data-product-handle="{{ product.handle }}"
>
  <div class="page-width">
    <div class="tw:flex tw:flex-col tw:md:flex-row tw:gap-10">
      <div
        class="tw:flex tw:flex-col xl:flex-row-reverse tw:gap-6 tw:shrink-0 tw:md:flex-1"
        data-product-images
      >
        <div class="tw:relative" data-main-image>
          <div class="tw:absolute tw:top-4 tw:left-4 tw:flex tw:items-center tw:gap-2 tw:bg-white tw:bg-opacity-90 tw:p-2 tw:rounded-sm tw:shadow-md">
            {{ 'star-icon.svg' | inline_asset_content }}
            <span class="tw:text-sm tw:capitalize">highly rated</span>
          </div>
          {%- comment -%} Display variant image if it exists, otherwise display product featured image, otherwise display placeholder image {%- endcomment -%}
          {% assign variant_image = target.image %}
          {% assign main_image_classes = 'tw:aspect-square tw:object-cover tw:rounded-lg' %}
          {% if variant_image %}
            {{
              variant_image
              | image_url: width: 536
              | image_tag:
                width: 536,
                height: 536,
                alt: featured_image_alt,
                class: main_image_classes,
                sizes: '(max-width: 600px) 100vw, 536px',
                loading: 'lazy'
            }}
          {% elsif product.featured_image %}
            {{
              product.featured_image
              | image_url: width: 536
              | image_tag:
                width: 536,
                height: 536,
                alt: featured_image_alt,
                class: main_image_classes,
                sizes: '(max-width: 600px) 100vw, 536px',
                loading: 'lazy'
            }}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
          {% endif %}
        </div>
        <div class="tw:flex tw:gap-4 tw:xl:flex-col">
          {% comment %}
            Display images that match the selected color option
            If no images match, display the first image
          {% endcomment %}
          {% assign selected_color = target.options[0] | downcase %}
          {% assign found_image = false %}
          {% for image in product.images %}
            {% assign image_url = image | image_url: width: 536 | downcase %}
            {% if image_url contains selected_color %}
              {% assign image_alt = image.alt | default: product.title | escape %}
              {%- assign image_data_large = image | image_url: width: 536 -%}
              {%- capture image_data_srcset -%}
                    {{ image | image_url: width: 200 }} 200w, {{ image | image_url: width: 400 }} 400w, {{ image | image_url: width: 800 }} 800w, {{ image | image_url: width: 1200 }} 1200w                  
              {%- endcapture -%}
              {%- assign image_data_sizes = '(max-width: 600px) 100vw, 536px' -%}
              <div class="tw:relative tw:overflow-hidden tw:rounded-lg" data-gallery-item>
                {{
                  image
                  | image_url: width: 136
                  | image_tag:
                    width: 88,
                    height: 88,
                    alt: image_alt,
                    class: 'tw:object-cover lazy-image',
                    sizes: '88px',
                    loading: 'lazy',
                    data-gallery-thumb: true,
                    data-large: image_data_large,
                    data-srcset: image_data_srcset,
                    data-sizes: image_data_sizes
                }}
                {% assign found_image = true %}
              </div>
            {% endif %}
          {% endfor %}
          {% if found_image == false and product.images.size > 0 %}
            {% assign found_image_src = product.images[0] | image_url: width: 88, height: 88 %}
            {% assign found_image_alt = product.images[0].alt | default: product.title | escape %}
            {%- assign found_image_data_large = product.images[0] | image_url: width: 536 -%}
            {%- capture found_image_data_srcset -%}
                    {{ product.images[0] | image_url: width: 200 }} 200w, {{ product.images[0] | image_url: width: 400 }} 400w, {{ product.images[0] | image_url: width: 800 }} 800w, {{ product.images[0] | image_url: width: 1200 }} 1200w                  
              {%- endcapture -%}
            <div class="tw:relative tw:overflow-hidden tw:rounded-lg" data-gallery-item>
              {{
                found_image_src
                | image_url: width: 136
                | image_tag:
                  width: 88,
                  height: 88,
                  alt: found_image_alt,
                  class: 'tw:object-cover lazy-image',
                  sizes: '88px',
                  loading: 'lazy',
                  data-gallery-thumb: true,
                  data-large: found_image_data_large,
                  data-srcset: found_image_data_srcset,
                  data-sizes: image_data_sizes
              }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="tw:md:flex-1">
        <div>
          {% if product.title != blank %}
            <h2 class="tw:text-2xl! tw:md:text-3xl tw:font-normal!">{{ product.title | escape }}</h2>
          {% endif %}
          {% if price != blank %}
            {{ price }}
          {% endif %}
          <div data-inventory-quantity>
            {%- unless target.available == false -%}
              {% if target.inventory_management == 'shopify' and target.inventory_policy != 'continue' %}
                <span class="tw:font-semibold">
                  {{ 'products.product.inventory_in_stock_show_count' | t: quantity: target.inventory_quantity }}
                </span>
              {%- else -%}
                <span class="tw:font-semibold">
                  {{ 'products.product.inventory_in_stock' | t }}
                </span>
              {%- endif -%}
            {%- else -%}
              <span class="tw:text-red-600">{{ 'products.product.inventory_out_of_stock' | t }}</span>
            {%- endunless -%}
          </div>
        </div>
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        {% form 'product', product, id: product_form_id %}
          {% unless product.has_only_default_variant %}
            <div class="product-variants tw:my-6">
              {% for option in product.options_with_values %}
                {% assign option_name = option.name | downcase %}
                <fieldset class="product-form__option">
                  <legend class="product-form__option-name tw:text-sm tw:mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </legend>
                  <div class="product-form__option-values tw-options-list  {% if option_name == "color" or option_name == "colour" %}product-form__option-values--color tw:flex tw:align-center {% else %} tw:grid tw:grid-cols-2 tw:lg:grid-cols-3{% endif %}">
                    {% for value in option.values %}
                      {% if option_name == 'color' or option_name == 'colour' %}
                        {% assign variant = value.variant %}
                        {% assign variant_image_alt = value | append: ' - ' | append: product.title %}
                        {% capture data_option_input %}
                          data-{{ option_name | downcase }}-input
                        {% endcapture %}
                        <div class="product-form__option-value {% unless value.variant.available %}product-form__option-value--unavailable{% endunless %}">
                          <input
                            type="radio"
                            id="option-{{ option.position }}-{{ forloop.index }}"
                            name="option-{{ option.name | downcase }}"
                            value="{{ variant.id }}"
                            class="tw:sr-only"
                            {% if option.selected_value == value %}
                              checked
                            {% endif %}
                            data-color-input
                            data-variant-id="{{ variant.id }}"
                          >
                          <label
                            for="option-{{ option.position }}-{{ forloop.index }}"
                            class="tw-option-label tw-color-swatch {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                          >
                            {% if variant.image %}
                              {{
                                variant.image
                                | image_url: width: 136, height: 136
                                | image_tag:
                                  width: 88,
                                  height: 88,
                                  alt: variant_image_alt,
                                  class: 'tw:rounded-md tw:object-cover',
                                  sizes: '88px',
                                  loading: 'lazy'
                              }}
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'tw:rounded-md tw:w-22 tw:h-22' }}
                              <span class="tw:sr-only">{{ variant_image_alt }}</span>
                            {% endif %}
                          </label>
                        </div>
                      {% else %}
                        <div class="product-form__option-value {% unless value.variant.available %}product-form__option-value--unavailable{% endunless %}">
                          <input
                            type="radio"
                            id="option-{{ option.position }}-{{ forloop.index }}"
                            name="option-{{ option.position }}"
                            value="{{ value | downcase }}"
                            class="tw:sr-only"
                            {{ data_option_input | strip }}
                            data-variant-id="{{ variant.id }}"
                          >
                          <label
                            for="option-{{ option.position }}-{{ forloop.index }}"
                            class="tw-option-label tw-generic-button {% if option.selected_value == value %} active{% endif %} tw:w-full tw:inline-block tw:cursor-pointer"
                          >
                            {{ value }}
                          </label>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </fieldset>
              {% endfor %}
            </div>
          {% endunless %}
          {% comment %}
            {% if product.variants.size > 1 %}
              <div class="tw:my-6">
                {% for option in product.options_with_values %}
                  {% assign option_name = option.name | downcase %}

                  {% case option_name %}
                    {%- when 'color', 'colour' -%}
                      <p class="tw:text-sm tw:mb-3">
                        {{
                          'products.product.banner-product.select_option'
                          | t: option_name: option.name
                          | default: option.name
                        -}}
                        :
                      </p>
                      <div
                        class="tw-options-list tw:flex tw:align-center"
                      >
                        {%- for value in option.values limit: 3 -%}
                          {% assign variant = value.variant %}
                          {% assign variant_image_alt = value | append: ' - ' | append: product.title %}
                          <input
                            type="radio"
                            id="option-{{ option.position }}-{{ forloop.index }}"
                            name="option-{{ option.position }}"
                            value="{{ value | downcase }}"
                            class="tw:sr-only"
                            data-color-input
                            data-variant-id="{{ variant.id }}"
                          >
                          <label
                            for="option-{{ option.position }}-{{ forloop.index }}"
                            class="tw-option-label tw-color-swatch {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                          >
                            {% if variant.image %}
                              {{
                                variant.image
                                | image_url: width: 136, height: 136
                                | image_tag:
                                  width: 88,
                                  height: 88,
                                  alt: variant_image_alt,
                                  class: 'tw:rounded-md tw:object-cover',
                                  sizes: '88px',
                                  loading: 'lazy'
                              }}
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'tw:rounded-md tw:w-22 tw:h-22' }}
                              <span class="tw:sr-only">{{ variant_image_alt }}</span>
                            {% endif %}
                          </label>
                        {%- endfor -%}
                      </div>
                    {%- when 'size' -%}
                      <p class="tw:text-sm tw:mb-3">
                        {{
                          'products.product.banner-product.select_option'
                          | t: option_name: option.name
                          | default: option.name
                        -}}
                        :
                      </p>
                      <div class="tw-options-list tw:grid tw:grid-cols-2 tw:lg:grid-cols-3">
                        {%- for value in option.values -%}
                          <input
                            type="radio"
                            id="option-{{ option.position }}-{{ forloop.index }}"
                            name="option-{{ option.position }}"
                            value="{{ value | downcase }}"
                            class="tw:sr-only"
                            data-size-input
                            data-variant-id="{{ variant.id }}"
                          >
                          <label
                            for="option-{{ option.position }}-{{ forloop.index }}"
                            class="tw-option-label tw-size-label {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                          >
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </div>
                    {%- else -%}
                      <p class="tw:text-sm tw:mb-3">
                        {{
                          'products.product.banner-product.select_option'
                          | t: option_name: option.name
                          | default: option.name
                        -}}
                        :
                      </p>
                      {% capture data_option_input %}
                      data-{{ option_name | downcase }}-input
                    {% endcapture %}
                      <div class="tw-options-list tw:grid tw:grid-cols-2 tw:lg:grid-cols-3">
                        {%- for value in option.values -%}
                          <input
                            type="radio"
                            id="option-{{ option.position }}-{{ forloop.index }}"
                            name="option-{{ option.position }}"
                            value="{{ value | downcase }}"
                            class="tw:sr-only"
                            {{ data_option_input | strip }}
                            data-variant-id="{{ variant.id }}"
                          >
                          <label
                            for="option-{{ option.position }}-{{ forloop.index }}"
                            class="tw-option-label tw-generic-button {% if option.selected_value == value %} active{% endif %} tw:inline-block tw:cursor-pointer"
                          >
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </div>
                  {% endcase %}
                {% endfor %}
              </div>
            {% endif %}
          {% endcomment %}
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}"
            class="product-variant-id"
          >
          <input type="hidden" name="quantity" value="1">
          <button
            type="submit"
            class="tw:btn tw:border-black tw:bg-black tw:text-white {% unless product.selected_or_first_available_variant.available %}button--disabled{% endunless %}"
            {% unless product.selected_or_first_available_variant.available %}
              disabled
            {% endunless %}
          >
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </button>
        {% endform %}
        {% if product.description != blank %}
          <div class="tw:mt-6 tw:text-gray tw:text-sm" aria-label="{{ 'products.product.description' | t }}">
            {{ product.description }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner with product",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    }
  ],
  "presets": [
    {
      "name": "Banner with product"
    }
  ]
}
{% endschema %}
