{%- liquid
  assign product = section.settings.product | default: product
  assign target = product.selected_or_first_available_variant
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign featured_image_alt = product.featured_image.alt | default: product.title
-%}
{% comment %}
  TO-DO:Check a product and use placeholder if product == null
  assign placeholder = true
{% endcomment %}

{% comment %}
  {{ 'section-main-product.css' | asset_url | stylesheet_tag }}
  {{ 'section-banner-product.css' | asset_url | stylesheet_tag }}
{% endcomment %}

<script src="{{ 'banner-product.js' | asset_url }}" defer="defer"></script>

{% capture price %}
  <div class="flex items-center gap-3 py-2 text-base text-gray-500" data-price-container>
    {%- if compare_at_price > price -%}
      <span class="line-through font-light {% unless available %}opacity-60{% endunless %}">{{ compare_at_price | money_without_trailing_zeros }}</span>
    {%- endif -%}
     <span class=" font-medium {% unless available %}opacity-60{% endunless %}" data-target="{{ target.id }}">{{ price |  money_with_currency }}</span>
     {%- if available == false -%}
      <span class="tw-badge tw-badge--soldout">{{ 'products.product.sold_out' | t }}</span>
    {%- elsif compare_at_price > price -%}
      <span class="tw-badge tw-badge--sale">{{ 'products.product.on_sale' | t }}</span>
    {%- endif -%}
  </div>            
{% endcapture %}

<section class="section__product-banner pt-11 pb-9">
  <div class="page-width">
    <div class="product-card flex flex-col md:flex-row gap-10">
      <div class="product-images flex flex-col xl:flex-row-reverse gap-6 shrink-0 md:flex-1" data-product-images>
        <div class="relative" data-main-image>
          <div class="absolute top-4 left-4 flex items-center gap-2 bg-white bg-opacity-90 p-2 rounded-sm shadow-md">
            {{ 'star-icon.svg' | inline_asset_content }}
            <span class="text-sm capitalize">highly rated</span>
          </div>
          {%- comment -%} Display variant image if it exists, otherwise display product featured image, otherwise display placeholder image {%- endcomment -%}
          {% assign variant_image = target.image %}
          {% assign main_image_classes = 'aspect-square object-cover rounded-lg' %}
          {% if variant_image %}
            {{ variant_image | image_url: width: 536 | image_tag: alt: featured_image_alt, class: main_image_classes }}
          {% elsif product.featured_image %}
            {{
              product.featured_image
              | image_url: width: 536
              | image_tag: alt: featured_image_alt, class: main_image_classes
            }}
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
          {% endif %}
        </div>
        <div class="product-gallery flex gap-4 xl:flex-col">
          {% comment %}
            Display images that match the selected color option
            If no images match, display the first image
          {% endcomment %}
          {% assign selected_color = target.options[0] | downcase %}
          {% assign found_image = false %}
          {% for image in product.images %}
            {% assign image_url = image | image_url: width: 536 | downcase %}
            {% if image_url contains selected_color %}
              <div class="product-gallery__item relative overflow-hidden rounded-lg" data-gallery-item>
                {% comment %} {{ image | image_url: width: 536 | image_tag: width: 88, height: 88, alt: image.alt }} {% endcomment %}
                <img
                  src="{{ image | image_url: width: 88, height: 88 }}"
                  alt="{{ image.alt  | default: product.title | escape }}"
                  width="88"
                  height="88"
                  data-gallery-thumb
                  class="gallery-thumb"
                  data-large="{{ image | image_url: width: 536 }}"
                  data-srcset="
                    {{ image | image_url: width: 200 }} 200w,
                    {{ image | image_url: width: 400 }} 400w,
                    {{ image | image_url: width: 800 }} 800w,
                    {{ image | image_url: width: 1200 }} 1200w
                  "
                  data-sizes="(max-width: 600px) 100vw, 536px"
                >
                {% assign found_image = true %}
              </div>
            {% endif %}
          {% endfor %}
          {% if found_image == false and product.images.size > 0 %}
            <div class="product-gallery__item relative overflow-hidden rounded-lg" data-gallery-item>
              {% comment %} {{ product.images[0] | image_url: width: 536 | image_tag: width: 88, height: 88, alt: product.images[0].alt }} {% endcomment %}
              <img
                src="{{ product.images[0] | image_url: width: 88, height: 88 }}"
                alt="{{ product.images[0].alt  | default: product.title | escape }}"
                width="88"
                height="88"
                data-gallery-thumb
                class="gallery-thumb"
                data-large="{{ product.images[0] | image_url: width: 536 }}"
                data-srcset="
                  {{ product.images[0] | image_url: width: 200 }} 200w,
                  {{ product.images[0] | image_url: width: 400 }} 400w,
                  {{ product.images[0] | image_url: width: 800 }} 800w,
                  {{ product.images[0] | image_url: width: 1200 }} 1200w
                "
                data-sizes="(max-width: 600px) 100vw, 536px"
              >
            </div>
          {% endif %}
        </div>
      </div>
      <div class="product-info md:flex-1">
        <div>
          {% if product.title != blank %}
            <h2 class="text-2xl! md:text-3xl font-normal!">{{ product.title | escape }}</h2>
          {% endif %}
          {% if price != blank %}
            {{ price }}
          {% endif %}
          <div data-inventory-quantity>
            {%- unless target.available == false -%}
              <span class="font-semibold">
                {{ 'products.product.inventory_in_stock_show_count' | t: quantity: target.inventory_quantity }}
              </span>
            {%- else -%}
              <span class="text-red-300">{{ 'products.product.inventory_out_of_stock' | t }}</span>
            {%- endunless -%}
          </div>
        </div>
        {% if product.variants.size > 1 %}
          <div class="product-variants my-6">
            {% for option in product.options_with_values %}
              {% assign option_name = option.name | downcase %}

              {% case option_name %}
                {%- when 'color', 'colour' -%}
                  <p class="text-sm mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  <div class=" option option--color">
                    {%- for value in option.values limit: 3 -%}
                      <button
                        class="color-button option-btn {% if option.selected_value == value %} active{% endif %}"
                        data-color-button
                        data-variant-id="{{ value.variant.id }}"
                        data-product-handle="{{ product.handle }}"
                        data-value="{{ value | downcase }}"
                      >
                        {% if value.variant.image %}
                          {{
                            value.variant.image
                            | image_url: width: 512, height: 512
                            | image_tag: width: 88, height: 88, alt: value.variant.image.alt
                          }}
                        {% else %}
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg-class' }}
                        {% endif %}
                      </button>
                    {%- endfor -%}
                  </div>
                {%- when 'size' -%}
                  <p class="text-sm mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  <div class="option option--size">
                    {%- for value in option.values -%}
                      <button
                        class="size-button {% if option.selected_value == value %}active{% endif %}"
                        data-size-button
                        data-variant-id="{{ value.variant.id }}"
                        data-value="{{ value | downcase }}"
                      >
                        {{ value }}
                      </button>
                    {%- endfor -%}
                  </div>
                {%- else -%}
                  <p class="text-sm mb-3">
                    {{
                      'products.product.banner-product.select_option'
                      | t: option_name: option.name
                      | default: option.name
                    -}}
                    :
                  </p>
                  <div class="option option--generic">
                    {%- for value in option.values -%}
                      <button
                        class="generic-button {% if option.selected_value == value %} active{% endif %}"
                        data-generic-button
                        data-variant-id="{{ value.variant.id }}"
                        data-value="{{ value | downcase }}"
                      >
                        {{ value }}
                      </button>
                    {%- endfor -%}
                  </div>
              {% endcase %}
            {% endfor %}
          </div>
        {% endif %}
        {% comment %} TO-DO: Implement product form {% endcomment %}
        <button class="tw-btn" data-add-to-cart>
          {{ 'products.product.add_to_cart' | t }}
        </button>
        {% if product.description != blank %}
          <div class="mt-6 text-grey-700 text-sm">{{ product.description }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Banner with product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Select product"
    }
  ],
  "presets": [
    {
      "name": "Banner with product"
    }
  ]
}
{% endschema %}
