<header>
    <nav class="nav" aria-label="{{ 'general.accessibility.main_navigation' | t }}">
      <div class="container">        
        {%  render 'logo', class: 'nav-logo' %}
        <button class="nav-toggler" aria-label="{{ 'general.accessibility.toggle_navigation' | t }}" aria-expanded="false" aria-controls="nav-menu">
          {{ 'navbar-toggler.svg' | inline_asset_content }}
        </button>
        <a href="{{ routes.cart_url }}" class="nav-cart" aria-label="{{ 'general.accessibility.cart' | t }}">
           {% assign cart_icon = 'cart-icon.svg' %}
           {%- if cart_icon != 'blank'-%}
           {{ 'cart-icon.svg' | inline_asset_content }} 
           {%- else -%}
            <span>{{ 'sections.header.cart' | t }}</span>
            {%- endif -%}
            <span>({{ cart.item_count }})</span>            
        </a>
          {% render 'header-menu' %}
      </div>
    </nav>
  </header>


  <script src="{{ 'header-handler.js' | asset_url }}" defer="defer"></script>
